/* retoucher dimensions des svg -> jpg
pb de responsive  */


@font-face {
    font-family: "typewriter";
    src: url("fonts/Toren_Mono.otf");
}

@font-face {
    font-family: "happy";
    src: url("fonts/Junicode_RegularCondensed.ttf");
}

@font-face {
    font-family: "italic";
    src: url("fonts/Toren_Rotalic.otf");
}



header {
    margin-top: 0;
    padding-top: 0;
    top: 0;
    width: 27%;
    position: fixed;
    height: 50px;
    border-bottom: solid 1px white;
    list-style: none;
    /* background-color: #ff6464; */
}

body {
    width: 100vw;
    height: 100%;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(48, 1fr);
    background-color: #000000;
}



body#map {  
    width: 100%;
    min-height: 100vh;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    background: rgb(238, 238, 238);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(48, 1fr);
}


body#photo {
    width: 100vw;
    height: 100%;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(48, 1fr);
}

main#home {
    /* display: grid;
grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(4, 1fr); */
    margin: 0%;
}

summary::-webkit-details-marker {
    display: none;
}

details>summary::marker {
    display: none;
    content: "";
}

details summary p#open-description::after {
    content: "ouvre-moi";
    color: rgb(197, 197, 197);
    font-family: "typewriter";


}

details[open] summary p#open-description::after {
    content: "ferme-moi";
    color: rgb(197, 197, 197);
    font-family: "typewriter";
    left: 0;

}

em {
    font-family: "italic";
}


h2 {
    font-family: "typewriter";
    font-size: 1.8em;
}

h2#title {
    padding-top: 5%;
}

h3 {
    font-family: "typewriter";
    font-size: 1.2em;
    text-decoration: underline dotted 1px;
}

/* text:hover {
    fill: #19355a;
} */

a:visited text {
    fill: rgb(0, 0, 0);
    font-weight: 100;
}

ellipse {
    /* fill: rgb(168, 168, 168); */
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-dasharray: 5, 5 M5 20 l215 0;
}

text {
    font-size: 40px;
    font-family: "typewriter";
    fill: black;
    cursor: pointer;
    /* stroke:#000000; */
}


#node1 text {
    font-size: 60px;
    font-family: "typewriter";
    fill: none;
    cursor: pointer;
    /* stroke:#000000; */
}

text:hover {
    stroke: transparent;
    font-family: "italic";


}

#a_clust2:visited {
    font-weight: 100;
}

svg {
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 4;
    margin-top: 1%;
    grid-row: 1/32;
    grid-column: 1/48;
}

a:hover.survol span {
    display: block;
    position: fixed;
}

/* a:hover text{ 
  fill: rebeccapurple; 
  font-weight: 100;
}  */

a.survol {
    position: relative;
}

/* a:hover text {
    text-decoration: none;
    fill: rgb(255, 251, 0);
} */

.node a:hover image {
    text-decoration: none;
    display: block;
}

.node a:hover ellipse,
#node11 a:hover polygon,
#node7 a:hover polygon,
#node5 a:hover polygon,
#node4 a:hover polygon,
#node3 a:hover polygon {
    fill: #ff4d50;
}

#node15 a:hover ellipse,
#node5 a:hover polygon {
    fill: none;
}


image {
    filter: contrast(130%);
}

.node a:hover polygon {
    text-decoration: none;
    transform-origin: 0 0;
    /* fill: rgb(255, 48, 48); */

}

.node polygon {
    /* fill: rgb(0, 0, 0); */
    stroke: black;
    stroke-dasharray: 5%;

}

.node ellipse {
    /* fill: rgb(0, 0, 0); */
    stroke: black;
    stroke-dasharray: 5%;
}

.node ellipse:hover {
    /* fill: rgb(0, 0, 0); */
    transform: rotate(45deg);
}

#node14 text:hover,
#node13 text:hover,
#node15 text:hover,
#node6 text:hover,
#node5 text:hover,
#node2 text:hover {
    font-family: "typewriter";
    cursor: default;
    font-size: 40px;
}

.node polygon:hover {
    /* fill: black; */
    stroke: none;
}

a.survol span {
    display: none;
}

a:hover text .survol span {
    display: block;
    position: fixed;
}

#test {
    display: none;
}



/* tramer les fonds, moins flat */

.menu {
    width: auto;
    position: absolute;
    z-index: 6;
    background-color: #ff4d50;
    width: 220px;
    height: 275px;
    bottom: 0;
    border: solid 1px black;
}

.menu ul li {
    font-family: "typewriter";
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    list-style: circle;
}

.menu ul li a:hover {
    font-family: "italic";
}

.div {
    background: rgb(0, 0, 0);
    display: none;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 6;
    position: absolute;
}

.close,
.name,
.open,
.retour,
.croix {
    cursor: pointer;
}

.retour {
    right: 0;
    position: absolute;
    margin-right: 2%;
    margin-top: 2%;
    font-weight: 100;
    color: white;
    font-family: 'typewriter';
}

a:visited {
    color: #ff6464;
}

#definition {
    right: 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    font-family: "italic";
    margin: 1%;
    color: white;
    opacity: 0;
    z-index: 0;
}

/* #definition:hover {
filter: opacity(100%);    
} */

.nav {
    background: rgb(0, 0, 0);
    height: 200vh;
    width: 27%;
    z-index: 12;
    position: absolute;
    right: 0;
    color: white;
    overflow: none;
    font-size: 1em;
}

#paragraphe {
    margin-top: 5%;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: rgb(197, 197, 197);
    color: black;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    border: solid 1px black;
}

#container {
    overflow: scroll;
    height: 100vh;
    /* border-top: dotted 1px rgb(197, 197, 197); */
    /* background-color:#ba343c; */

}

p {
    margin-top: 0;
    margin-bottom: 0;
    filter: none;
    font-family: "happy";
    font-size: 1.2em;
}

#quotes {
    font-family: "italic";
}

.photo {
    vertical-align: middle;
    height: 100%;
    /* width: 100%; */
    position: relative;
}

summary p#open-description {
    margin-top: 2%;
    font-size: 1em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "typewriter";
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    z-index: 30;
}

.retour:hover {
    transform: rotate(-10deg);
}

p#open-description:hover {
    transform: rotate(10deg);
}


.close {
    position: absolute;
    margin-right: 1%;
    margin-top: 1%;
    font-size: 1em;
    color: white;
    font-family: "typewriter";
    right: 0;

}

.close:hover {
    font-family: "italic";
}

footer {
    font-family: "typewriter";
}

/* #about {
    left: 0;
    position: absolute;
    margin-left: 1%;
    bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 3em;
    transform: rotate(45deg);
    color: #ff4d50;
} */



/* #about:hover {
    transform: rotate(5deg);
} */

#leftAbout {
    position: absolute;
    z-index: 6;
    background-color: #ff4d50;
    width: 30%;
    height: 95%;
    bottom: 0;
    display: none;
    padding-left: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: dotted 1px black;
    right: 0;
}

#leftValeur {
    position: absolute;
    z-index: 6;
    background-color: #ff4d50;
    width: 25%;
    height: 100%;
    overflow: scroll;
    bottom: 0;
    display: none;
    padding-left: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: dotted 1px black;
    left: 0;
}


#colophon {
    left: 50%;
    position: absolute;
    margin-left: 1%;
    bottom: 0;
    margin-bottom: 1%;
    cursor: pointer;
    z-index: 5;
}

#middleColophon {
    position: absolute;
    z-index: 6;
    background-color: #d83336;
    width: 30%;
    height: 80%;
    bottom: 0;
    display: none;
    left: 20%;
    right: auto;
    padding-left: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}


.croix {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 2%;
    color: rgb(0, 0, 0);
}



.name {
    border-bottom: solid 1px black;
    padding: 2%;
    width: 70%;
}

.name:hover {
    /* background-color: #e9473b; */
    font-family: "italic";
}

.slider {
    height: 100%;
    vertical-align: middle;
}

img#slide {
    height: 100vh;
    z-index: 50;
}

body#map img#considerer {
    width: 10%;
    z-index: 18;
    position: absolute;
}

body#map img#porter {
    width: 10%;
    z-index: 19;
    position: absolute;
}

.fade {
    animation-name: fade;
    animation-duration: 20s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


.fadeinDown {
    animation: fadeInDown 30s;
}

@keyframes fadeInDown {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}




#precedent {
    left: 4%;
    position: absolute;
    font-size: 1em;
    font-family: "typewriter";
    cursor: pointer;
    margin-top: 2%;
    user-select: none;
}

#suivant {
    left: 18%;
    position: absolute;
    font-size: 1em;
    font-family: "typewriter";
    cursor: pointer;
    margin-top: 2%;
    user-select: none;
}

#suivant:hover,
#precedent:hover {
    color: #ff4d50;
}



ul#tags li {
    display: inline-flex;
    list-style: none;
    padding: 1.5%;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    left: 0;
    font-family: "typewriter";
    margin-right: 2%;
}

ul#tags li:hover {
    background-color: #ff4d50;
    color: #d1d1d1;
}

#ressources {
    list-style: circle;
    font-family: "happy";
    text-decoration: none;
    color: black;
}

#ressources a {
    text-decoration: none;
    color: black;
}

#ressources a:hover {
    text-decoration: none;
    font-family: "italic";
}

#attention {
    display: grid;
    grid-row: 16/32;
    grid-column: 22/48;
    width: 60%;
    z-index: 0;
}

main#home a {
    color: #000000;
    text-decoration: underline dotted 2px black;
    cursor: pointer;
    font-size: 0.9em;
}

main#home a:hover {
    color: #ff4d50;
    text-decoration: underline dotted 2px #ff4d50;

}

#first {
    background-color: #ff4d50;
    /* grid-column: 1/2;
    grid-row: 1/8; */
    position: absolute;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    border: solid 1px black;
}

#first p {
    font-size: 1.8em;
}

/* 
h3:hover {
    color: #777777;
    cursor: pointer;
} */

a img {
    filter: grayscale(100);
}

a img:hover {
    filter: none;
}


#second {
    background-color: rgb(255, 255, 255);
    /* grid-column: 2/4;
    grid-row: 1/2; */
    display: none;
    overflow-y: scroll;
    position: absolute;
    left: 25%;
    height: 75%;
    overflow-y: scroll;
    border-radius: 20px;
    border: solid 1px black;
    width: 50%;
}

#second p,
#third p,
#fourth p,
#fifth p {
    font-size: 1.4em;
}

section details {
    width: auto;
    height: auto;
}

details[open] {
    height: auto;
}

#third {
    /* grid-column: 4/5;
    grid-row: 1/2; */
    background-color: white;
    display: none;
    position: absolute;
    width: 25%;
    height: 50%;
    left: 75%;
    overflow-y: scroll;
    border-radius: 20px;
    border: solid 1px black;
}


#third section details {
    width: auto;
    height: 20%;

}

#third details[open] {
    height: auto;
}

#fourth {
    /* grid-column: 3/5;
    grid-row: 2/3; */
    background-color: white;
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    border: solid 1px black;
    overflow-y: scroll;
}


/* quand section#third est cliquée alors summary s'efface */



#fourth details {
    width: auto;
    height: auto;
}

#fourth details[open] {
    height: auto;
}

#fifth {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    background-color: #ff4d50;
    display: none;
    position: absolute;
    width: 25%;
    height: 25%;
    left: 25%;
    top: 50%;
    border-radius: 20px;
    border: solid 1px black;
    overflow-y: scroll;
}


#bruit {
    width: 100%;
    border-radius: 20px;

}

#sixth {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    display: none;
    position: absolute;
    width: 25%;
    height: 25%;
    left: 25%;
    top: 75%;
    border-radius: 20px;
}




.time {
    animation-name: time;
    animation-duration: 20s;
}

@keyframes time {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#second h2,
#third h2,
#fourth h2,
#fifth h2 {
    cursor: s-resize;
}

#second h2:hover,
#third h2:hover,
#fourth h2:hover,
#fifth h2:hover {
    color: #ff4d50;
}





#first p,
#second p,
#third p,
#fourth p,
#fifth p,
h2 {
    font-family: "happy";
    margin-right: 4%;
    margin-top: 4%;
    margin-left: 4%;
}

#suite,
#suiteLeft {
    font-family: "happy";
    font-size: 20px;
   
}

footer {
    position: relative;
    margin-right: 4%;
    justify-content: end;
    display: flex;
}


#suite:hover,
#suiteLeft:hover {
    text-decoration: underline dotted 2px black;
    cursor: pointer;
}





#suite::after {
    content: " ☞";
    font-size: 1.4em;
    line-height: 1px;
}

#suiteLeft {
    font-family: "happy";
    font-size: 20px;
    padding: 15px;
    position: relative;
}


#suiteLeft::before {
    content: "☜ ";
    font-size: 1.4em;
    line-height: 1px;
}

#first h1,
#second h1 {
    font-family: "italic";
}

blockquote {
    margin-top: 1%;
    margin-left: 6%;
    margin-bottom: 0;
    font-family: "happy";
    font-size: 1.1em;
}

#porter {
    display: grid;
    grid-row: 8/32;
    grid-column: 20/48;
    width: 37%;
    z-index: 1;
}

/* #considérer {
    display: grid;
    grid-row: 14/32;
    grid-column: 5/48;
    width: 35%;
    z-index: 3;

} */



#intention a {
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    right: 5%;
}

/* #intention a:hover {
  color: #e9473b;
} */

::-webkit-scrollbar {
    width: 6px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff4d50;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff4d50;
}

.responsive {
    display: none;
    color: white;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    main#home {
        display: none;
    }

    .responsive {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    body#map {
        max-height: 100vh;
    }
    #first p {
        font-size: 1em;
    }

    #second p,
    #third p,
    #fourth p,
    #fifth p {
        font-size: 0.8em;
    }

    h2 {
        font-size: 1.2em;
    }

    summary p#open-description,
    .retour,
    #precedent,
    #suivant {
        font-size: 0.6em;
    }

    p#content,
    blockquote#quotes {
        font-size: 0.7em;
        margin-right: 2%;
    }

    h3#tags-title,
    h3#ressources-title,
    #ressources a {
        font-size: 0.6em;
    }

    #tags {
        font-size: 0.6em;
    }
}




    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1200px){

        #first p {
            font-size: 1.2em;
        }

        #second p,
        #third p,
        #fourth p,
        #fifth p {
            font-size: 1em;
        }

        h2 {
            font-size: 1.4em;
        }

        summary p#open-description,
        .retour,
        #precedent,
        #suivant {
            font-size: 0.8em;
        }

        p#content,
        blockquote#quotes,
        #ressources a {
            font-size: 0.7em;
            margin-right: 2%;
        }

        h3#tags-title,
        h3#ressources-title {
            font-size: 0.8em;
        }

        #tags {
            font-size: 0.8em;
        }
    }




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {

    #first p {
        font-size: 1.2em;
    }

    #second p,
    #third p,
    #fourth p,
    #fifth p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.4em;
    }

    summary p#open-description,
    .retour,
    #precedent,
    #suivant {
        font-size: 0.9em;
    }

    p#content,
    blockquote#quotes,
    #ressources a {
        font-size: 0.9em;
        margin-right: 2%;
    }

    h3#tags-title,
    h3#ressources-title {
        font-size: 1.1em;
    }

    #tags {
        font-size: 0.8em;
    }
}









